<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename = 'style.css') }}">
    <title>New Ninja</title>
</head>
<body>
    <form action="/created_new_ninja" method = "POST">
        <label for="Dojo">Dojo</label>
        <select name="dojo_id" id="Dojo">
            {% for one_dojo in dojos %}
            <option value="{{ one_dojo.id }}">{{ one_dojo.name }}</option>
            {% endfor %}
        </select>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="age">Age:</label>
        <input type="text" name="age">
        <input type="submit" value="Create New Ninja">
    </form>
    <a href="/dojos">Home</a>

    
</body>
</html>