<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  type = "text/css" href="{{ url_for ('static',filename ='style.css') }}">
    <title>Show Authors and Create Author</title>
</head>
<body>
    <div id = "container">
        <div class = "box">
            <h1>New Author</h1>
            <form action="/create_new_author" method = 'POST'>
                <label for="Name">Name</label>
                <input type="text" name="name">
                <br>
                <input type="submit" name="Create New Author"value = "Create New Author" >
            </form>
        </div>
        <div class = "box">
            <h1>All Authors</h1>
            <ul>
                {% for one_author in authors %}
                <li><a href="/authors/{{ one_author.id }}">{{ one_author.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="/books">Add book</a>
        </div>
    </div>
</body>
</html>